@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
  --bg-color: #333;
  --nav-color: azure;
  --scope-color: aqua;
  --animation-duration: 200ms;
}

ion-icon {
  font-size: 32px;
}

body,
.navbar-body,
.navbar-body ul,
.navbar-body .navbar-item,
.navbar-body .navbar-item label {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  height: 100vh;
  margin: 0;
  background-color: var(--bg-color);
  overflow: hidden;
}

.navbar-body {
  width: 576px;
  height: 90px;
  box-sizing: border-box;
  padding: 0 30px;
  font-family: 'Hind', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--nav-color);
  border-radius: 15px;
}

.navbar-body ul {
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-radio {
  display: block;
  position: absolute;
  left: -9999px;
  z-index: -9999;
}

.navbar-radio:focus-visible ~ .navbar-item {
  background-color: lightgray;
}

.navbar-body .navbar-item {
  flex-direction: column;
  position: relative;
  width: 90px;
  height: 100%;
  border-radius: 10px;
  transition: transform var(--animation-duration) ease-in-out;
}

.navbar-body .navbar-item label {
  width: 100%;
  height: 100px;
  cursor: pointer;
}

.navbar-body .navbar-item img {
  display: block;
}

.navbar-body .navbar-item p {
  position: absolute;
  top: 120%;
  margin: 0;
  opacity: 0;
}

.scope {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: -45px;
  width: 90px;
  height: 90px;
  background-color: var(--scope-color);
  border: 5px solid var(--bg-color);
  border-radius: 50%;
  transition: transform var(--animation-duration) ease-in-out;
}

.scope::before,
.scope::after {
  content: '';
  display: block;
  position: absolute;
  top: 40px;
  left: -14px;
  width: 5px;
  height: 5px;
  background-color: transparent;
  border-top: 5px solid transparent;
  border-right: 5px solid transparent;
  border-radius: 0 10px 0 0;
  box-shadow: 1px -1px 0 0 var(--bg-color),
              3px -3px 0 0 var(--bg-color);
}

.scope::after {
  left: 84px;
  border-right: 0;
  border-left: 5px solid transparent;
  border-radius: 10px 0 0 0;
  box-shadow: -1px -1px 0 0 var(--bg-color),
              -3px -3px 0 0 var(--bg-color);
}


/* Logic sequins */

/* Move "Scope", when list item have status "Active" */
#home:checked ~ .scope {
  transform: translateX(0);
}
#profile:checked ~ .scope {
  transform: translateX(106.5px);
}
#messages:checked ~ .scope {
  transform: translateX(213px);
}
#gallery:checked ~ .scope {
  transform: translateX(319.5px);
}
#settings:checked ~ .scope {
  transform: translateX(426px);
}

#home:checked ~ .navbar-item:nth-of-type(1),
#profile:checked ~ .navbar-item:nth-of-type(2),
#messages:checked ~ .navbar-item:nth-of-type(3),
#gallery:checked ~ .navbar-item:nth-of-type(4),
#settings:checked ~ .navbar-item:nth-of-type(5) {
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
}

#home:checked ~ .navbar-item:nth-of-type(1) p,
#profile:checked ~ .navbar-item:nth-of-type(2) p,
#messages:checked ~ .navbar-item:nth-of-type(3) p,
#gallery:checked ~ .navbar-item:nth-of-type(4) p,
#settings:checked ~ .navbar-item:nth-of-type(5) p {
  transition: opacity var(--animation-duration) ease-in-out var(--animation-duration);
  opacity: 1;
}

@media (max-width: 576px) {
  body {
    align-items: flex-end;
  }

  .navbar-body {
    width: 100%;
    height: 70px;
    border-radius: 10px 10px 0 0;
  }

  .navbar-body ul {
    max-width: 315px;
    min-width: 315px;
  }

  .navbar-body .navbar-item {
    width: 45px;
  }

  .navbar-body .navbar-item p {
    top: 110%;
  }

  .scope {
    width: 70px;
    height: 70px;
    top: -35px;
    left: -12.5px;
  }

  #home:checked ~ .scope {
    transform: translateX(0);
  }
  #profile:checked ~ .scope {
    transform: translateX(67.5px);
  }
  #messages:checked ~ .scope {
    transform: translateX(calc(67.5px*2));
  }
  #gallery:checked ~ .scope {
    transform: translateX(calc(67.5px*3));
  }
  #settings:checked ~ .scope {
    transform: translateX(calc(67.5px*4));
  }

  .scope::before,
  .scope::after {
    top: 30px;
    left: -13.8px;
  }

  .scope::after {
    left: 63.8px;
  }
}

@media (max-width: 382px) {
  .navbar-body {
    border-radius: 0;
  }
}